:root {
    --main: #586E75;
    --black: #161F22;
    --light: #FDF6E3;
    --link: #268BD2;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Inconsolata', monospace;
    color: var(--black);
}

body {
    background-color: var(--light);
}

/* Fonts */

.inconsolata {
    font-family: 'Inconsolata', monospace;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.leaguegothic {
    font-family: 'League Gothic', sans-serif;
}

/* Spacing */
.margins {
    margin-left: 12em;
    margin-right: 12em;
}

/* Nav */

#nav {
    background-color: var(--main);
}

#nav > ul {
    margin-top: 0;
    margin-bottom: 0;
}

/* Page */

.wrapper {

}

.page-title {
    font-family: 'League Gothic', sans-serif;
    font-size: 3em;
    color: var(--main);
}

.page-content {

}

/* 
==========================================================
Media queries
==========================================================
*/

/* sm */
@media (min-width: 640px) {  }

/* md */
@media (min-width: 768px) {  }

/* lg */
@media (min-width: 1024px) {  }

/* xl */
@media (min-width: 1280px) {  }

/* 2xl */
@media (min-width: 1536px) {  }